In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('Crimes.csv')
data.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JD163753,02/24/2020 08:15:00 PM,031XX W LEXINGTON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,N,N,1134,24.0,11,NaN,NaN,NaN,NaN,NaN
1,JC320782,06/24/2019 06:20:00 PM,041XX S DREXEL BLVD,0820,THEFT,$500 AND UNDER,RESIDENTIAL YARD (FRONT/BACK),N,N,214,4.0,06,NaN,NaN,NaN,NaN,NaN
2,JC497784,11/03/2019 11:40:00 AM,032XX N CLARK ST,0860,THEFT,RETAIL THEFT,DEPARTMENT STORE,N,N,1924,44.0,06,NaN,NaN,NaN,NaN,NaN
3,JC270482,05/19/2019 11:00:00 AM,018XX S WOOD ST,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,ATM (AUTOMATIC TELLER MACHINE),N,N,1234,25.0,11,NaN,NaN,NaN,NaN,NaN
4,JC459410,10/04/2019 06:10:00 AM,004XX S LA SALLE ST,0560,ASSAULT,SIMPLE,SIDEWALK,N,N,122,4.0,08A,NaN,NaN,NaN,NaN,NaN

In [6]:
data.shape

(248419, 17)

In [4]:
data.isnull().sum()

CASE#                        0
DATE  OF OCCURRENCE          0
BLOCK                        0
 IUCR                        0
 PRIMARY DESCRIPTION         0
 SECONDARY DESCRIPTION       0
 LOCATION DESCRIPTION      980
ARREST                       0
DOMESTIC                     0
BEAT                         0
WARD                        13
FBI CD                       0
X COORDINATE              1269
Y COORDINATE              1269
LATITUDE                  1269
LONGITUDE                 1269
LOCATION                  1269
dtype: int64